@media only screen and (min-width: 290px) {

    body {
        font-family: Muli, Arial, sans-serif;
        font-size: 20px;
        line-height: 33px;
        color: black;
        animation: fadeinup;
    }

    /* Defines stle of generic content throughout the body */

    body,
    html {
        height: 100%
    }

    /* defines body as maximum what is defined in html */
    header {
        width: 100%;
        height: 100px;
        line-height: 100px; //for header center
    }

    /* Defines header at maximum */
    header nav {
        width: 800px;
        height: 100px;
        float: center;
        text-align: center;
        padding-left: 225px;
    }

    /* shifts the nav bar right 225 px while defining its width, height, and alignment */

    header nav li {
        list-style: none;
        float: left;
    }

    /* List style = none removes the list style defined in the "user agent stylesheet" or browser's stylesheet
    Each list item within the header floats closest to the left side of its div */


    header nav li a {
        text-decoration: none;
        color: #AFB4B7;
        padding: 15px 15px;
        transition: 0.5s ease;
        position: relative;
    }

    /* Removes default text-decoration in "user agent stylesheet", sets initial text color, 
    the padding between text list items, and duration of transitions if any are applied */

    header nav li a:hover {
        color: black;
        text-decoration: underline;
        opacity: 1.0;
    }

    /* When mouse hovers over a navbar list item, this happens: 
    the text color changes from grey to black, the text becomes underlined,
    and the text becomes opaque.  All of this takes place over the course of 0.5 seconds as previously defined */

    header nav li a:before {
        content: '';
        position: absolute;
    }

    /* Defines the style and positioning before mouse hover effect */

    .instalogo {
        opacity: 0.35;
    }

    /* Makes the svg image more transparent to meet the color of the text */

    .background-image {
        /* The image used */
        background-image: url(""C:\Users\D.Montgomery-Eder20\OneDrive - Bellarmine College Preparatory\webDesign\myWeb\montgomeryederDevon\_images\logoBackground.png"");
        /* link to the image implemented */
    }

    .parallax1 {

        background-image: url("C:\Users\D.Montgomery-Eder20\OneDrive - Bellarmine College Preparatory\Documents\Junior Year\Various\Graphic Design Projects\Mountain2.png");

        /* Links to a logo created by me in illustrator that is exported as a PNG */
        height: 700px;
        /* Set a specific height */

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Create the parallax scrolling effect */
    }

    /* Defines parameters for the parallax effect to work */

    .overlay {
        position: absolute;
        bottom: -120px;
        left: 0px;
        right: 0px;
        background-color: black;
        opacity: 0.75;
        overflow: hidden;
        width: 100%;
        height: 0px;
        transition: .5s ease;
    }

    /* Defines an initially invisible ("hidden") overlay to the image embedded in the parallax effect.
    Defines the distance of the overlay (120px) moving away from the bottom of the image towards the top.
    Does not have any horizontal transition.  Sets transition animation to take place over .5 seconds.
     */

    .parallax1:hover .overlay {
        height: 100%;
    }

    /* Height of overlay increases and becomes visible when mouse hovers over image */

    .text {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-200%, -400%);
    }

    /* Defines text style within the overlay*/


    .style1 {
        height: 750px;
        float: center;
        text-align: center;
        background-color: #E1E6E3;
        font-size: 36px;
    }

    /* Defines the stle of the div containing "background" */

    .intro-background {
        position: center;
        padding-top: 75px;
        padding-bottom: 0px;
    }

    /* Defines the position and padding of the div that contains the "Google Play Store" and "App Store" buttons*/

    .app-download {
        position: center;
        float: center;
    }

    /* Center aligns the "Google Play Store" and "App Store" buttons.*/

    h1 {
        font-size: 26px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 0px;
        color: #000;
    }

    /* Specifically defines qualities of the text in "h1" independent of 
    those previously assigned to all text in the "body" */

    .parallax2 {
        /* The image used */
        background: white;
        /* Full height */
        height: 100%;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .parallax3 span {
        color: white;
        text-transform: uppercase;
        margin: 27px 15px 31px 15px;
        display: block;
    }

    .parallax3 {
        /* The image used */
        background: #E1E6E3;
        /* Full height */
        height: 100%;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-family: Muli, Arial, sans-serif;
        font-size: 20px;
        line-height: 33px;
        color: black;
        padding-top: 100px;
    }

    footer {
        display: inline-block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 200px;
        padding-right: 200px;
    }

    /* Provides padding to the left and right sides of the 
    footer, centering it.  Also uses block style display ("inline-block") so that
    multiple divs can remain on the same horizontal line in columns.  */

    footer div {
        padding: 25px;
    }

    /* Provides div "Row" inside of "footer" with 25 px padding. */

    h3 {
        text-align: start;
        font-size: 27px;
        margin-top: 30px;
        margin-bottom: 5px;
        padding-bottom: 0px;
    }

    /* aligns text to the side where its container begiens.
    Sets font size to 27 px an dprovides a 30px space as a margin at the top. 
    Also removes padding at bottom. */

    .row {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }

    /* Zero padding alows for rov divs to align at beginning side 
    (left side) in a vertical line with the text below. Justify-Content allows the divs to 
    center within the space between the padding on either sides and remain on one line. */

    ul.cooltext {
        list-style-type: none;
        margin-top: 0px;
    }

    div ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    /* Removes margin and padding of the ("unordered list") container/div, 
    allowing for the text to not be indented, and thus come into line with "h3" */

    footer div li a {
        text-decoration: none;
        color: #AFB4B7;
        line-height: 10px;
        padding: 0px;
        transition: 0.5s ease;
        position: relative;
        text-align: left;
        margin: 0;
        padding-bottom: 100px;
    }

    /* Defines initial style of the list item text.  Sets color to grey, 10px line 
    height, removes padding and margins, aligns text to the left side of its container,
    and provides a padding at the bottom of 100px between the end of the text and the bottom of the website page*/

    footer div li a:hover {
        color: black;
        text-decoration: underline;
        opacity: 1.0;
    }

    /* When mouse hovers over list items they change color to black, become underlined, and become opaque*/
}
}

@media only screen and (min-width: 1100px) {

    body {
        font-family: Muli, Arial, sans-serif;
        font-size: 20px;
        line-height: 33px;
        color: black;
        animation: fadeinup;
    }

    /* Defines stle of generic content throughout the body */

    body,
    html {
        height: 100%
    }

    /* defines body as maximum what is defined in html */
    header {
        width: 100%;
        height: 100px;
        line-height: 100px; //for header center
    }

    /* Defines header at maximum */
    header nav {
        width: 800px;
        height: 100px;
        float: center;
        text-align: center;
        padding-left: 225px;
    }

    /* shifts the nav bar right 225 px while defining its width, height, and alignment */

    header nav li {
        list-style: none;
        float: left;
    }

    /* List style = none removes the list style defined in the "user agent stylesheet" or browser's stylesheet
    Each list item within the header floats closest to the left side of its div */


    header nav li a {
        text-decoration: none;
        color: #AFB4B7;
        padding: 15px 15px;
        transition: 0.5s ease;
        position: relative;
    }

    /* Removes default text-decoration in "user agent stylesheet", sets initial text color, 
    the padding between text list items, and duration of transitions if any are applied */

    header nav li a:hover {
        color: black;
        text-decoration: underline;
        opacity: 1.0;
    }

    /* When mouse hovers over a navbar list item, this happens: 
    the text color changes from grey to black, the text becomes underlined,
    and the text becomes opaque.  All of this takes place over the course of 0.5 seconds as previously defined */

    header nav li a:before {
        content: '';
        position: absolute;
    }

    /* Defines the style and positioning before mouse hover effect */

    .instalogo {
        opacity: 0.35;
    }

    /* Makes the svg image more transparent to meet the color of the text */

    .background-image {
        /* The image used */
        background-image: url(""C:\Users\D.Montgomery-Eder20\OneDrive - Bellarmine College Preparatory\webDesign\myWeb\montgomeryederDevon\_images\logoBackground.png"");
        /* link to the image implemented */
    }

    .parallax1 {

        background-image: url("C:\Users\D.Montgomery-Eder20\OneDrive - Bellarmine College Preparatory\Documents\Junior Year\Various\Graphic Design Projects\Mountain2.png");

        /* Links to a logo created by me in illustrator that is exported as a PNG */
        height: 700px;
        /* Set a specific height */

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Create the parallax scrolling effect */
    }

    /* Defines parameters for the parallax effect to work */

    .overlay {
        position: absolute;
        bottom: -120px;
        left: 0px;
        right: 0px;
        background-color: black;
        opacity: 0.75;
        overflow: hidden;
        width: 100%;
        height: 0px;
        transition: .5s ease;
    }

    /* Defines an initially invisible ("hidden") overlay to the image embedded in the parallax effect.
    Defines the distance of the overlay (120px) moving away from the bottom of the image towards the top.
    Does not have any horizontal transition.  Sets transition animation to take place over .5 seconds.
     */

    .parallax1:hover .overlay {
        height: 100%;
    }

    /* Height of overlay increases and becomes visible when mouse hovers over image */

    .text {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-200%, -400%);
    }

    /* Defines text style within the overlay*/


    .style1 {
        height: 750px;
        float: center;
        text-align: center;
        background-color: #E1E6E3;
        font-size: 36px;
    }

    /* Defines the stle of the div containing "background" */

    .intro-background {
        position: center;
        padding-top: 75px;
        padding-bottom: 0px;
    }

    /* Defines the position and padding of the div that contains the "Google Play Store" and "App Store" buttons*/

    .app-download {
        position: center;
        float: center;
    }

    /* Center aligns the "Google Play Store" and "App Store" buttons.*/

    h1 {
        font-size: 26px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 0px;
        color: #000;
    }

    /* Specifically defines qualities of the text in "h1" independent of 
    those previously assigned to all text in the "body" */

    .parallax2 {
        /* The image used */
        background: white;
        /* Full height */
        height: 100%;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .parallax3 span {
        color: white;
        text-transform: uppercase;
        margin: 27px 15px 31px 15px;
        display: block;
    }

    .parallax3 {
        /* The image used */
        background: #E1E6E3;
        /* Full height */
        height: 100%;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-family: Muli, Arial, sans-serif;
        font-size: 20px;
        line-height: 33px;
        color: black;
        padding-top: 100px;
    }

    footer {
        display: inline-block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 200px;
        padding-right: 200px;
    }

    /* Provides padding to the left and right sides of the 
    footer, centering it.  Also uses block style display ("inline-block") so that
    multiple divs can remain on the same horizontal line in columns.  */

    footer div {
        padding: 25px;
    }

    /* Provides div "Row" inside of "footer" with 25 px padding. */

    h3 {
        text-align: start;
        font-size: 27px;
        margin-top: 30px;
        margin-bottom: 5px;
        padding-bottom: 0px;
    }

    /* aligns text to the side where its container begiens.
    Sets font size to 27 px an dprovides a 30px space as a margin at the top. 
    Also removes padding at bottom. */

    .row {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }

    /* Zero padding alows for rov divs to align at beginning side 
    (left side) in a vertical line with the text below. Justify-Content allows the divs to 
    center within the space between the padding on either sides and remain on one line. */

    ul.cooltext {
        list-style-type: none;
        margin-top: 0px;
    }

    div ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    /* Removes margin and padding of the ("unordered list") container/div, 
    allowing for the text to not be indented, and thus come into line with "h3" */

    footer div li a {
        text-decoration: none;
        color: #AFB4B7;
        line-height: 10px;
        padding: 0px;
        transition: 0.5s ease;
        position: relative;
        text-align: left;
        margin: 0;
        padding-bottom: 100px;
    }

    /* Defines initial style of the list item text.  Sets color to grey, 10px line 
    height, removes padding and margins, aligns text to the left side of its container,
    and provides a padding at the bottom of 100px between the end of the text and the bottom of the website page*/

    footer div li a:hover {
        color: black;
        text-decoration: underline;
        opacity: 1.0;
    }

    /* When mouse hovers over list items they change color to black, become underlined, and become opaque*/
}